node_modules/

dist/
build/

.vite/
.cache/
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
.idea/
.vscode/

coverage/

.vercel/
.netlify/
